.filters {
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: inline-flex;
    }
.locations {
height: 100%;
width: 25%;
border-right: 1px #DDDDDD solid;
}
.amenities {
    height: 100%;
    width: 25%;
}

h3 {
font-weight: 600;
padding:0;
margin:0;
margin-top: 15px;
margin-left: 70px;
}
h4 {
font-weight: 400;
font-size: 14px;
padding:0;
margin:0;
margin-left: 70px;
}
.popover {
    background-color: #FAFAFA;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    list-style-type: none;
    display: none;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
li {
    list-style-type: none;
}
h2 {
    font-size: 16px;
    margin: 0;
}